.centered-text {
    text-align: center;
}

.centered-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.centered-text-block {
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 6em;
}

body {
    display: block;
    margin: 0;
}

.opener-2{
    max-width: 1980px;
    height: 500px;
    background-image: url('jonathan_haidt_standing6.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: bottom;
}


.opener {
    max-width: 1980px;
    height: 500px;
    background-image: url('sir_ernest_benn.png');
    background-repeat: no-repeat;
    background-position: right;
}
.opener .container-fluid{
    padding-right: 0;
}
.opener .row {
    margin-right: 0;
}

.opener .col-sm-4:last-child{
    padding-right: 0;
}

.opener .col-sm-4:last-child{

}

.opener blockquote{
    border-left: 0;
    margin-top: 100px;
}
.opener-2 blockquote{
    border-left: 0;
    margin-top: 100px;
}


.intro{
    background-color: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 20px;
}

.the-problem img{
    position: relative;
    right: 40px;
}

.the-problem{
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgrey;
}


.example-of-the-problem{
    padding-top: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid lightgrey;
}

.example-of-the-problem blockquote{
    font-size: 14px;
    border-left: none;
}

.example-of-the-problem .col-sm-5{
    position: relative;
    top: 10px;
}

.a-vision img{
    position: relative;
    left: -30px;
    bottom: -20px;
    width: 425px;
}

.a-vision span{
    font-weight: bold;
}

.a-vision-condensed{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px lightgrey solid;
}

.a-vision-condensed ul{
    width: 100%;
}
.a-vision-condensed li{
    text-transform: uppercase;
    padding: 0 5px;
    letter-spacing: 1px;
    font-size: 2em;
}


































































:root {
    --circle-diameter: 200px;
    --circle-radius: 100px;
}

.pieContainer {
    height: 100px;
}

.pieBackground {
    background-color: grey;
    position: absolute;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    -moz-border-radius: var(--circle-radius);
    -webkit-border-radius: var(--circle-radius);
    -o-border-radius: var(--circle-radius);
    border-radius: var(--circle-radius);
    -moz-box-shadow: -1px 1px 3px #000;
    -webkit-box-shadow: -1px 1px 3px #000;
    -o-box-shadow: -1px 1px 3px #000;
    box-shadow: -1px 1px 3px #000;
}

.pie {
    position: absolute;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    -moz-border-radius: var(--circle-radius);
    -webkit-border-radius: var(--circle-radius);
    -o-border-radius: var(--circle-radius);
    border-radius: var(--circle-radius);
    clip: rect(0px, var(--circle-radius), var(--circle-diameter), 0px);
}
.hold {
    position: absolute;
    width: var(--circle-diameter);
    height: var(--circle-diameter);
    -moz-border-radius: var(--circle-radius);
    -webkit-border-radius: var(--circle-radius);
    -o-border-radius: var(--circle-radius);
    border-radius: var(--circle-radius);
    clip: rect(0px, var(--circle-diameter), var(--circle-diameter), var(--circle-radius));
}

#pieSliceBlue .pie {
    background-color: darkslategray;
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
#pieSliceBlue2 {
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
    transform:rotate(180deg);
}
#pieSliceBlue2 .pie {
    background-color: darkslategray;
    -webkit-transform:rotate(140deg);
    -moz-transform:rotate(140deg);
    -o-transform:rotate(140deg);
    transform:rotate(140deg);
}
#pieSliceRed {
    -webkit-transform:rotate(320deg);
    -moz-transform:rotate(320deg);
    -o-transform:rotate(320deg);
    transform:rotate(320deg);
}
#pieSliceRed .pie {
    background-color: white;
    -webkit-transform:rotate(40deg);
    -moz-transform:rotate(40deg);
    -o-transform:rotate(40deg);
    transform:rotate(40deg);
}




















.catcher {
    background-color: #f7f7f7;
}

.uppskattning-1{
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: 2px solid #f7f7f7;
}
.uppskattning-1 h1, p{
    margin-top: -2px;
}

.quote {
    background:
        url(bg-quote3a.png) top center no-repeat,
        url(bg-quote3b.png) bottom center no-repeat;
    color: #a5a4a4;
    font-style: italic;
    margin: 30px;
    padding: 30px;
    text-align: center;
}












.navbar {
    background-color: #51DE8C;
    margin: 0 auto;
}

.navbar .container {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 60em;
    padding-top: 7px;
    padding-bottom: 7px;
}

.navbar ul {
    display: inline;
}

.navbar li {
    display: inline;
    margin-left: 12px;

    padding: 5px;
    border: 2px solid #51DE8C;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.navbar li:hover {
    border: 2px solid white;
    border-radius: 10px;
}

.jumbotron {
    position: relative;

    height: 700px;
}

.jumbotron .container {
    position: relative;
    top: 50px;
}


.jumbotron p {
    position: relative;
    top: 150px;
    margin-left: auto;
    margin-right: 180px;
    width: 520px;

    font-size: 35px;
    line-height: 125%;
}

.jumbotron img {
    float: right;
}


.test{
}

.test .container-full{
    margin: 0 auto;
    width: 100%;
}


.blog-updates {
    background-color: #f7f7f7;
    height: 100%;
}

.blog-updates .container-fluid {
    position: relative;
    padding-top: 60px;
}

.blog-updates .row{
    width:100%;
}

.blog-updates .span4 {
    position: relative;
    padding-bottom: 35px;
    background-color: white;
}

.blog-updates img {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.blog-updates h3 {
    margin-top: -11px;
    font-weight: normal;
}

.blog-updates input[type="text"] {
    padding: 15px;
    font-size: 20px;

}

.blog-updates input[type="submit"] {
    padding: 15px;
    background-color: #51DE8C;
    color: #fff;
    font-size: 20px;
}

.blog-updates .awesome-links {
    color: dimgray;
}

.implementation {
    padding-top: 60px;
    padding-bottom: 30px;

    border-bottom: 2px solid #f7f7f7;
}

.implementation h1 {
    font-weight: normal;
}

.open-source {
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: 2px solid #f7f7f7;
}

.open-source h1 {
    font-weight: normal;
}

.blockchain-power {
    padding-top: 30px;
    padding-bottom: 30px;

    border-bottom: 2px solid #f7f7f7;
}

.blockchain-power h1 {
    font-weight: normal;
}

.tools {
    background-color: #FF7958;
}

.tools h1 {
    color: #fff;
    padding-top: 100px;
    font-size: 70px;
    font-weight: normal;
    padding-bottom: 90px;
}

.tools img {
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.tools h3 {
    color: #fff;
    font-weight: normal;
    text-align: center;
}

.tools p {
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 15em;

}

.stretched-light {
    background-color: #fff;
    padding-right: 45px;
}

/*.tools .span3:nth-child(3) img{*/
/*background-color: #fff;*/
/*padding-right: 40px;*/
/*border-radius: 10px;*/
/*}*/