<head>
    <title>Vill du förbättra det politiska systemet?</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<div class="owl-carousel">
    <div class="item">
        <div class="opener-2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-3">
                        <blockquote>
                            <p>Folk binder sig till politiska lag som delar samma moraliska berättelser om samhället.
                                När de accepterar en viss berättelse, blir de blinda för alternativa moraliska
                                världar.</p>
                            <footer><cite title="Jonathan Haidt">Jonathan Haidt; professor i moralisk psykologi</cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-1">
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item">
        <div class="opener">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-4">
                        <blockquote>
                            <p>Politik är konsten att leta efter problem, hitta det oavsett om det finns eller inte,
                                ställa
                                inkorrekt diagnos och använda fel botemedel.</p>
                            <footer><cite title="Sir Ernest Benn">Sir Ernest Benn; bokutgivare, byråkrat och
                                författare</cite>
                            </footer>
                        </blockquote>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="intro">
    <div class="container">
        <h1>För att förbättra hur det politiska systemet fungerar</h1>

        <ul>
            <li>Lär dig om alla andras politiska världsbild.</li>

            <li>Prioritera de delar som varje ideologi menar är de viktigaste för dem.</li>

            <li>Uppmuntra andra att göra detsamma.</li>
        </ul>

        <p>
            Genom att skapa en kultur där vi försöker förstå varandra kommer vi lättare att upptäcka och implementera
            fler av de lagar och regler som gynnar (nästan) alla, samt avskaffa de som ingen har ett intresse av.
        </p>
    </div>
</div>


<div clasS="the-problem">
    <div class="container">
        <div class="row">
            <h1>Gör vi inte redan det då?</h1>

            <div class="col-sm-6">
                <p>
                    Ja, i viss mån!
                </p>

                <p>
                    De flesta, om inte alla, vet ju att en genomsnittlig socialdemokrat <i>tenderar</i> att vara mer
                    benägen att vilja
                    lösa politiska problem genom att ge det offentliga utrymme att göra det, än vad en moderat är
                    (det
                    finns definitivt undantag).
                </p>

                <p>Miljöpartister gillar en långsiktig hållbar miljö; kristdemokrater trycker
                    på mer kristna värderingar; och vänsterpartiet är emot vinster i den offentlig välfärden.
                </p>
            </div>


            <div class="col-sm-6">
                <p>
                    Men...
                </p>

                <p>
                    ...i rapporten
                    <i><a href="http://www.valforskning.pol.gu.se/digitalAssets/1220/1220324_Oscarsson___Holmberg__2008__Valjarkunskap.pdf">
                        Väljarkunskap</a></i> så visas undersökningar där enbart
                    runt 24-38% av deltagarna sägs ha "goda politiska kunskaper", gällande olika faktafrågor...
                </p>

                <p>
                    ...så när det gäller ännu mer avancerade frågor - som hur världsbilden för en ideologi ser ut -
                    lär det ju inte vara fler som kan sägas ha en god förståelse om hur socialister, anarkister,
                    feminister, konservativa, liberaler, libertarianer, miljövänner och nationalister förväntar sig
                    att människor och samhället fungerar.
                </p>
            </div>
        </div>
    </div>
</div>

<div class="example-of-the-problem">
    <div class="container">
        <h1>Som exempel på hur det kan gå snett...</h1>


        <div class="row">
            <div class="col-sm-5">
                <p>
                    Se debatten om narkotikapolitik i Sverige. Frågan om hur det offentliga bör förhålla sig till att
                    folk använder vissa droger är väldigt känslig för många.
                </p>

                <p>
                    Alla droger innebär en hälsorisk för de
                    som använder dem, men det ger också vissa fördelar. Olika statliga lagar och regler gör det lättare
                    och svårare för människor att kunna leva väl - och folk har olika idéer om effekterna av vad de
                    olika lagarna och reglerna har.
                </p>

                <p>
                    Såväl de som vill legalisera, avkriminalisera, reglera, upprätthålla förbudet, införa fler
                    stödåtgärder, reformera hur det offentliga ger stöd eller står för någon blandning av de olika
                    förslagen kan alla tro att deras egen politik leder till minst lidande.
                </p>

            </div>


            <div class="col-sm-7">
                <blockquote>
                    <p>Välunderbyggda argument [i den svenska narkotikadebatten] har fått stryka på foten för ogrundat
                        tyckande
                        och moraliserande. Vetenskapliga
                        forskningsresultat bemöts med utpräglad skepsis – särskilt när de ifrågasätter de allmänt
                        vedertagna
                        föreställningarna på området.</p>
                    <footer>
                        <cite title="Björn Fries och Björn Johnsson">
                            Björn Fries, tidigare narkotikasamordnare och socialdemokratisk debattör, samt Björn
                            Johnson,
                            statsvetare
                            och docent i socialt arbete, Malmö högskola, i <a
                                href="http://www.dagensarena.se/opinion/fries-johnson-sverige-behover-en-serios-narkotikadebatt/">
                            Sverige behöver en seriös narkotikadebatt</a>, 2010
                        </cite>
                    </footer>
                </blockquote>


                <blockquote>
                    <p>
                        När starka känslor är i svang har förnuftet ingen chans. Narkotikafrågan ger exempel
                        tusenfaldigt.
                    </p>
                    <footer><cite title="Olof Lagercrantz">Olof Lagercrantz, i förordet till <a
                            href="http://books.google.se/books/about/Den_goda_fienden.html?id=9A4jNAAACAAJ&redir_esc=y"><i>
                        Den goda fienden</i></a>, 1985</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>


<div class="a-vision">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <img src="discussion-forum.jpg">
            </div>

            <div class="col-sm-8">
                <h1>Hur borde det då vara istället?</h1>

                <div class="row">
                    <div class="col-sm-6">
                        <span>Vi borde sträva efter att förstå varandras perspektiv.</span>
                        <ul>
                            <li>
                                Vad för mål var och en vill uppnå
                            </li>
                            <li>
                                Varför det målet ses som värdefullt
                            </li>
                            <li>
                                Vad för medel man tror är bäst för att uppnå målet
                            </li>
                            <li>
                                Varför de medlen skulle fungera bäst
                            </li>
                        </ul>

                        <span>Vi borde sträva efter att kunna diskutera allas synsätt</span>
                        <ul>
                            <li>Den som tar upp en åsikt gör sig beredd att bli utsatt för kritisk granskning och
                                borde därför bli applåderad för att försöka göra den så tydlig som möjlig
                            </li>
                            <li>Ingen borde hånas eller förlöjligas för att ta upp sina idéer och låta andra undersöka
                                dem
                            </li>
                            <li>Inte heller borde någon hånas eller förlöjligas enbart för att ha ändrat åsikt eller för
                                att man vidhåller någon</li>
                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <span>Vi borde sträva efter att ha ett kritiskt förhållningssätt till alla idéer</span>
                        <ul>
                            <li>
                                Ingen har kommit fram till en fullständig teori om människan och samhället (och
                                ingen
                                kommer kanske göra det), så alla kan ha fel idé om hur världen är.
                            </li>
                            <li>
                                Alla ideologier innehåller, i olika mån, vissa felaktiga beskrivningar av
                                verkligheten.
                                Vi måste kritisera alla för att sortera bort de dåliga bitarna från de bra.
                            </li>
                            <li>
                                Ingen idé kan tas för given bara för att den sägs av någon med status. En idés
                                värde
                                består i om den stämmer eller inte.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="a-vision-condensed">
    <div class="container">
        <h1>Eller, kort och gott, att...</h1>

        <ul>
            <li>Lyssna</li>
            <li>Berätta</li>
            <li>Diskutera</li>
            <li>Kritisera</li>
        </ul>
    </div>
</div>

<div class="why-is-it-good">
    <div class="container">
        <h1>Varför vore det här bra egentligen?</h1>

        <p>Tänk om det här slår fel? Anta att vi alla blir lika kunniga om varandras perspektiv. En viss utveckling av
            dagens ideologier kommer
            då av nödvändighet att ske. Tänk om de förändras till det sämre?</p>

        <p>Det kommer inte ske, av flera anledningar. En av de främsta är för att de saker som i stort sett alla
            bryr sig om i Sverige idag - bl.a. gemenskap, välmående och god hälsa - är något som alla människor bryr sig
            om.
            Vi har alla vissa gemensamma önskemål, eftersom vi alla delar i stort sett samma evolutionära förflutna.
        </p>

        <p><a href="http://en.wikipedia.org/wiki/Human_Universals">Donald Brown</a>, professor emeritus i antropologi,
            hittade sextiosju universella drag bland alla folkgrupper i världen, vilka han antecknat i boken <i>Human
                Universals</i>. <a href="http://condor.depaul.edu/mfiddler/hyphen/humunivers.htm">Bland dessa</a> finns
            även några gemensamma preferenser, som att vi människor...</p>

        <blockquote>...skiljer mellan gott och ont; beundrar generositet; gillar skämt; tyr oss till andra och visar
            det; försöker hitta sätt att lösa konflikter på; har empati för hur andra känner och tänker; dansar;
            uppskattar musik och ser det som en konst; skiljer mellan sant och falskt; försöker hitta förklaringar ;
            försöker förhindra mord,
            våldtäkt och misshandel; försöker förhindra maktmissbruk; uppskattar samarbete; bryr oss om hur vi blir
            sedda av andra; och vill bli omtyckta av andra.
        </blockquote>

        <p>Vi människor har även några mindre smickrande drag så klart, vi...</p>

        <blockquote>...kan använda språket för att vilseleda andra; har fallenhet för att försöka manipulera andras bild
        om en själv; har inte något inneboende hinder mot att mörda, stjäla ifrån eller misshandla andra; och överskattar
        i regel hur objektiva ens egna tankar är.
        </blockquote>

        <p>
            Så, på en väldigt grundläggande nivå så <i>vill i stort sett alla av oss ha ganska snarliknande saker</i>.
            Genom att bli mer kunniga på området kommer sedan de flesta att välja den (modifierade) ideologi som bäst gör
            det möjligt för folk att uppnå sina högst värderade mål - samtidigt som man kan kontra, neutralisera eller
            ta hänsyn till de mindre positiva sidorna vi har.
        </p>

        <p>
            Genom att ta till sig mer kunskap kommer de allra flesta att bli bättre på att uppnå sina mest värdesatta
            politiska mål. Och dessa högsta mål kommer ifrån människans natur samt hennes försök att uppmuntra de
            goda sidorna och samtidigt kontra de mindre positiva.
        </p>
    </div>
</div>



<div class="implications">
    <div class="container">
        <h1>Finns det några ytterligare fördelar av detta?</h1>

        <ul>
            <li>
                Risk för missförstånd minskas
            </li>
            <li>
                Onödiga diskussioner om definitioner undviks
            </li>
            <li>
                Onödiga diskussioner om vad någon egentligen inte står för undviks
            </li>
            <li>
                Fokus på de idéer som folk verkligen tror är bra
            </li>

            <li>Fokus på samarbete mellan alla individer istället för konflikt mellan olika ideologier</li>

            <li>Lättare att ta till sig information ifrån andra, även om de hör till ett annat politiskt lag</li>


        </ul>

    </div>
</div>


<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>


<div class="more-problems">
    <div class="container">
        <h1>Varför gör vi inte det då?</h1>

        <div class="row">
            <div class="col-sm-7">
                <p>
                    Det finns ett <a href="http://econjwatch.org/file_download/260/2009-05-various-watchpad.pdf#1">antal
                    ansatser</a> till att förklara detta. Som grund kräver det att var och en är beredd
                    att ändra sig när denne får ny information, samt att de som gör det samarbetar med varandra. Nu är
                    frågan, varför sker detta inte i större utsträckning?
                </p>

                <div class="row">
                    <div class="col-sm-4">
                        <li>
                            Att ta till sig ny information bryter upp det stabila mönster som tankarna haft innan
                            och det kräver lite arbete för att uppdatera ens världsbild.
                        </li>
                        <li>
                            Med ny information kanske ens tidigare handlingar ställs i dålig dager och det är
                            jobbigt
                            att behöva erkänna att man gjort fel i det förflutna.
                        </li>
                    </div>
                    <div class="col-sm-4">
                        <li>
                            I den politiska sfären kan det vara så att <a
                                href="http://www.econtalk.org/archives/2011/05/harford_on_adap.html">
                            väljare belönar politiker</a> som ser ut att vara
                            obevekliga och hålla sina ord.
                        </li>
                        <li>
                            Många politiska grupper definierar sig delvis som motståndare till andra grupper och
                            kan uppmuntra en kultur av att inte samarbeta med eller säga gott om "motståndarna".
                        </li>
                    </div>

                    <div class="col-sm-4">
                        <li>
                            Folk reagerar mest på vrede av alla känslor, vilket gör att de som vill sprida idéer
                            kan få mer uppmärksamhet genom att vara arg eller försöka göra andra arga. (Se videon
                            till höger.) Och medan man är arg har man svårare att tänka logiskt och empatiskt.
                        </li>
                    </div>
                </div>

            </div>

            <div class="col-sm-5">
                <iframe width="400" height="225" src="https://www.youtube.com/embed/rE3j_RHkqJc" frameborder="0"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>


<div class="prisoners-dilemma">
    <div class="container">
        <h1>Ett särskilt s</h1>

    </div>
</div>


<div id="pieContainer">
    <div class="pieBackground"></div>
    <div id="pieSliceBlue" class="hold">
        <div class="pie"></div>
    </div>
    <div id="pieSliceBlue2" class="hold">
        <div class="pie"></div>
    </div>
    <div id="pieSliceRed" class="hold">
        <div class="pie"></div>
    </div>
</div>


<div class="catcher">
    <div class="container">
        <h1>Hur ofta...</h1>
        <ul>
            <p>
                ...skickar politiker iväg helikoptrar för att flytta vargar från ett till ett annat ställe av landet;
            </p>

            <p>
                ...förespråkar någon en politik utan att förstå konsekvenserna för vad de förespråkar;
            </p>

            <p>
                ...säger någon att en viss politik inte fungerar, utan att satt sig in i frågan;
            </p>

            <p>
                ...upprepar någon det som alla andra säger och litar på att det stämmer just för att folk säger det;
            </p>

            <p>
                ...får feministiska teoretiker bidrag för att studera patrialkala strukturer i centralstationer;
            </p>

            <p>
                ...mutar företagare politiker för att de skall beställa just deras tjänster;
            </p>

            <p>
                ...säger politiker att de vet hur de skall upprätthålla standarden på statliga tjänster, fast egentligen
                inte har någon aning?
            </p>

            <p>
                ...blir en politiker eller byråkrat förvånad över att de förväntas ta ansvar för sina misstag;
            </p>

            <p>
                ...ger någon upp om att över huvud taget kunna föra en vettig diskussion med en viss annan?
            </p>
        </ul>

        <p>
            Tja, det skiljer sig. Lite då och då.
        </p>
    </div>
</div>

<div class="uppskattning-1">
    <div class="container">
        <div class="row">

            <div class="col-sm-4">
                <img src="löfven.jpg" style="width: 350px;">
            </div>


            <div class="col-sm-6">
                <h1>Och vad kan du göra åt det?</h1>

                <p>
                    Gå in i politiken? Spela det politiska spelet, arbeta dig uppåt för att till slut bli partiledare?
                </p>

                <p>
                    Det är uppenbarligen inte omöjligt - om än rätt osannolikt. Det finns åtta partiledare, men kanske
                    runt åtta miljoner myndiga i Sverige.
                </p>

                <p>
                    Och även om du hamnar i en maktposition så att du kan förhandla med andra partier, kommer du att
                    kunna få igenom den politik som du vill ha? Det du föreslår måste vara accepterat av åtminstone
                    en större grupp i partiet och därmed även i hela samhället.
                </p>
            </div>

            <div class="col-sm-2">

            </div>
        </div>
    </div>
</div>

<div class="uppskattning-2">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <h1>Ta större avstånd ifrån politiken...</h1>

                <p>...men bli smartare engagerad i den.

                </p>
            </div>

            <div class="col-sm-6"></div>

        </div>
    </div>
</div>


<div class="blog-updates">
    <div class="container-fluid">
        <div class="row">
            <div class="span4">
                a
                <img src="http://goo.gl/0sX3jq">
            </div>

            <div class="span4">
                <h3>Updates from the blog</h3>

                <p>
                    <b>ONE STANDARD</b> - January 8, 2015
                    Bitcoin had a birthday recently! We just counted the time since the genesis block, and it made
                    me
                    think that in a few years we’ll start to celebrate the birth of Bitcoin 2.0? </p>
            </div>

            <div class="span4">
                <h3>Subscribe</h3>
                <input type="text" placeholder="Enter e-mail" name="email"><br>

                <input type="submit" value="send >">

                <br><br>

                <a class="awesome-links" href="http://facebook.com">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
                </a>

                <a class="awesome-links" href="http://twitter.com">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
                </a>
            </div>
        </div>
    </div>
    <a name="features"></a>
</div>

<div class="implementation">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h1>Native Bitcoin 2.0 Implementation</h1>

                <p>
                    Colored Coins enable developers to create Smart Property on top of the Bitcoin blockchain.
                    There’s
                    no need to purchase extra coins – just use regular bitcoins to create and transfer assets.
                    Explore
                    new possibilities like advanced financial tools, smart contracts and peer-to-peer exchange over
                    the
                    Internet. </p>

            </div>

            <div class="span4">
                <div class="videoRight col-xs-12" style="">
                    <iframe src="http://www.youtube.com/embed/fmFjmvwPGKU" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="open-source">
    <div class="container">
        <div class="row">
            <div class="span4">
                <img src="open_source.png">
            </div>

            <div class="span8">
                <h1>100% open source</h1>

                <p>
                    We’ve brought together leading Bitcoin 2.0 visionaries to create an open source standard for
                    Colored
                    Coins. Our aim is to develop the leading protocol for Smart Assets through an open and
                    transparent
                    process. </p>
            </div>
        </div>
    </div>
</div>


<div class="blockchain-power">
    <div class="container">
        <div class="row">
            <div class="span8">
                <h1>Use The Power Of the Blockchain</h1>

                <p>Colored coin gives developers the ability to create robust tools that utilize bitcoin's
                    functionality. By harnessing the power of the blockchain, any developer can create tools with
                    world
                    class security and transparency.a </p>
            </div>

            <div class="span4">
                <img src="bitcoin_lightbulb.png">
            </div>
        </div>
    </div>
</div>

<div class="tools"><a name="tools"></a>

    <div class="container">
        <h1 class="centered-text">Organisationer</h1>

        <div class="row">
            <div class="span3">
                <a href="http://pragmatiskapartiet.se"><img class="stretched-light"
                                                            src="pragmatiska_partiet_orange.png"></a>

                <h3>Pragmatiska Partiet</h3>

                <p>"(P) har ett pragmatiskt förhållningssätt till politiken och ämnar alltså att basera sina
                    reformförslag
                    på den kunskap som finns om hur ett förslag i praktiken faktiskt skulle påverka samhället. Det vi
                    ser som målet med politiken är att öka människornas välmående."</p>
            </div>

            <div class="span3">
                <a href="http://ofuss.se"><img class="stretched-light" src="ofuss.png"></a>

                <h3>OFUSS</h3>

                <p>"Vi vill hjälpa till att bygga ett samhälle där varje individ är fri att få leva sitt eget liv så
                    bäst som möjligt; ett samhälle där alla kan testa sin politiska idé med andra som tror på den; ett
                    samhälle där vi strävar efter att hela tiden göra våra olika samhällen bättre och bättre."</p>
            </div>

            <div class="span3">
                <a href="http://nätverket-för-vetenskapligt-baserad-politik.se"><img class="stretched-light"
                                                                                     src="näfve.png"></a>

                <h3>Nätverket för vetenskapligt baserad politik</h3>

                <p>"Det primära målet med vårt nätverk är att se till att alla politiska beslut fattas på basis av
                    tillräcklig evidens. Mer precist vill vi att det vid varje politiskt beslut ges tillräcklig evidens
                    för att de medel som man föreslår (t ex en viss arbetsmarknadspolitisk reform) är det mest effektiva
                    sättet att nå det mål man har med beslutet (t ex sänkt arbetslöshet)."</p>
            </div>

            <div class="span3">
                <a href="http://kristdemokraterna.se"><img class="stretched-light-last" src="kristdemokraterna.png"></a>

                <h3>Coinspark</h3>

                <p>A lightweight (SPV) wallet for Windows, Mac and Linux.</p>
            </div>
        </div>
    </div>
</div>


<div class="directors">
    <div class="container">
        <div class="row">
        </div>
    </div>
</div>


<div>Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a
        href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a
        href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>

</body>
