@media(max-width: 475px){
    .opener-2{
        max-width: 1980px;
        height: 500px;
        background-image: url('jonathan_haidt_standing6.png');
        background-size: 700px;
        background-repeat: no-repeat;
        background-position: bottom;
    }

    .opener {
        background-image: url('sir_ernest_benn.png');
        background-size: 250px;
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    .opener blockquote{
        border-left: 0;
        margin-top: 10px;
    }
    .opener-2 blockquote{
        border-left: 0;
        margin-top: 10px;
    }

    .opener-2 footer{
        width: 160px;
    }

    .opener footer{
        width: 125px;
    }

    iframe{
        float: left;
        width: 300px;
    }
}

@media (max-width: 978px) {
    body {
        padding:0;
    }

    .navbar {
        position: fixed;
        top: 0;
    }

    .navbar img{
        margin-left: auto;
        margin-right: auto;
        display: block;

        margin-bottom: 5px;
    }

    .navbar ul{
        margin-bottom: 5px;
    }

    .jumbotron .container {
        top: 50px;
    }

    .jumbotron h1{
        font-size: 40px;
    }

    .stretched-light{
        padding-right: 6px;
        padding-left: 1px;
    }

    .stretched-light-last{
        background-color: #fff;
        padding-right: 6px;
        padding-left: 1px;
    }
}

@media screen and (min-width: 979px) {
}
